body{
  background-image: url("watercolor.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
p{
  font-family: 'Fjalla One', sans-serif;
}
