body {
  background-image: url("watercolor.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  font-family: 'Abel', sans-serif;

  margin: 0px;
}

.body{
  height: 40em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.heading {
  color: white;
  font-size: 400%;
  font-family: 'Fjalla One', sans-serif;
  margin: 20px 20px 20px 20px;
}

div .bodyTextBox {
  margin: 40px 100px 40px 100px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px 10px;
  text-align: justify;
  color: #000000;
  font-size: 130%;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
  opacity: 1;
}

div .bodyTextBox::after {
  content: "";
  display: table;
  clear: both;
}

.RefreshButton{
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid white;
  font-family: 'Abel', sans-serif;
  font-size: 110%;
}

.movieTitle {
  font-size: 150%;
  margin-top: 0px;
  padding-top: 0px;
}

div.absolute {
    position: relative;
    top: auto;
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 5px;
    font-size: 150%;
    font-family: 'Fjalla One', sans-serif;
}

.moviePoster {
  float: left;
  clear: left;
  padding: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 0px
}

div.floatingBox {
  display: inline-block;
}

.aboutUs {
  float: left;
  padding: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 0px
}

#aboutText {
  margin-top: 1px;
}

.homebutton {
  color: white;
}
