.TextSize {
    font-size: 24px;
}
.dropbtn:hover {
    color: white;
}
.About:hover {
  color:white;
}
.Random:hover {
  color:white;
}
.Related:hover {
  color:white;
}
.Trending:hover {
  color:white;
}
/* Dropdown Button */
.dropbtn {
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -37%;
    margin-right: 25%;
    background-color: rgba(255, 255, 255, 0.6);
    min-width: 150%;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 62px;
    text-decoration: none;
    display: inline-block;
    position: center;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content
container when the user clicks on the dropdown button) */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
    background-color: rgba(245, 186, 231, 0.4);
}

body {
      height: 25em;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
/*Background was added*/
      background-image: url("watercolor.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
}
.heading {
      color: white;
      font-size: 900%;
      font-family: 'Fjalla One', sans-serif;
      margin: 2px;
}
.dropbtn, .Random, .Related, .Trending, .About, .dropdown-content {
      font-size: 24px;
      font-weight: bold;
      font-family: 'Abel', sans-serif;
}
a {
    color: black;
}
