<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Fjalla+One">
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="static/generalparadiso.css"/>
  </head>
  <body>
    <div align = "center">
      <h1 class = "heading">
        About Us
      </h1>
    <div>
    <div class = "bodyTextBox">
      <p class = "bodyTextBox" id = "bodyText">
        Hello! Welcome to Paradiso. Our name was inspired by the movie "Cinema
        Paradiso." This project began as an initiative to end the need to choose
        a movie when there are so many different options out there. You can get
        a randomly generated movie showing the title, release date, rating, and
        summary. You can also narrow your results by genre.
        <br><br>
        We are The Pink Ladies, named after the type of apple and not the Grease
        girl group. Our team is composed of three people: Mabel Felix, Corine Lu, and
        Adrian Mendoza. We are currently students as part of Google's Computer
        Science Summer Academy and this is our final project.
        <br><br>
        The information available comes from The Movie DB.
      </p>
    </div>
  </body>
</html>
