<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Fjalla+One">
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="static/generalparadiso.css"/>
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class = "absolute">
      <a href="/" style="text-decoration: none">Paradiso</a>
    </div>
    <div align = "center" class = "body">
      <h1 class = "heading">
        About Us
      </h1>
    <div>
    <div class = "bodyTextBox">
      <img class = "aboutUs" src="static/paradiso.jpg" alt="The Pink Ladies" width = "300px">
      <p id="aboutText">
        Hello! Welcome to Paradiso. Our name was inspired by the movie "Cinema
        Paradiso." This project began as an initiative to end the need to choose
        a movie when there are so many different options out there. You can get
        a randomly generated movie showing the title, release date, rating, and
        summary. You can also narrow your results by genre and receive a list of
        several movie recommendations in return.
        <br><br>
        We are The Pink Ladies, named after the type of apple and not the Grease
        girl group. Our team is composed of three people: Mabel Felix, Corine Lu, and
        Adrian Mendoza. Mabel is from Cuidad Juarez, Mexico and will be attending
        Princeton University. Corine is from Los Angeles, California and will be
        attending Yale University. Adrian is from Los Angeles, California and will
        be attending the University of California, San Diego. We are currently
        students as part of Google's Computer Science Summer Institute and this
        is our final project.
        <br><br>
        The information available comes from The Movie DB.
      </p>
    </div>
  </body>
</html>
