<!DOCTYPE html>
<html>
  <head>
    <title>Paradiso</title>
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Fjalla+One">
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon">

    <script src= "static/paradisomain.js"></script>
    <link rel="stylesheet" href="static/paradisomain.css"/>
    <link href="static/hamburgers/dist/hamburgers.css" rel="stylesheet">

  </head>
  <body>
    <div align= "center">

      <p class= "heading"> PARADISO</p>

      <div class= "TextSize">
        <a href="/about" class="About" style="text-decoration: none"title="About">About</a> |

<!-- Drop down -->
        <div class="dropdown">
        <a class="dropbtn">Recommendation by Genre</a> |
          <div id="myDropdown" class="dropdown-content">
            <table>
              <tr>
                <th><a href="/action">Action</a></th>
                <th><a href="/adventure">Adventure</a></th>
                <th><a href="/animation">Animation</a></th>
                <th><a href="/comedy">Comedy</a></th>
              </tr>
              <tr>
                <th><a href="/crime">Crime</a></th>
                <th><a href="/documentary">Documentary</a></th>
                <th><a href="/drama">Drama</a></th>
                <th><a href="/family">Family</a></th>
              </tr>
              <tr>
                <th><a href="/fantasy">Fantasy</a></th>
                <th><a href="/foreign">Foreign</a></th>
                <th><a href="/history">History</a></th>
                <th><a href="/horror">Horror</a></th>
              </tr>
              <tr>
                <th><a href="/mystery">Mystery</a></th>
                <th><a href="/romance">Romance</a></th>
                <th><a href="/scifi">Sci-Fi</a></th>
                <th><a href="/thriller">Thriller</a></th>
              </tr>
          </table>
          </div>
        </div>

        <a href="/random" class="Random" style="text-decoration: none"title="Random"> Random</a> |
        <a href="/related" class="Related" style="text-decoration: none"title="Related"> Related</a> |
        <a href="/trending" class="Trending" style="text-decoration: none"title="Trending"> Trending</a>

      </div>
    </div>
  </body>
</html>
