<!DOCTYPE html>
<html>
  <head>
    <!-- Change font to what you need by changing "Tangerine" then change css file-->
    <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Tangerine">
    <script src= "static/paradisomain.js"></script>
    <link rel="stylesheet" href="static/paradisomain.css"/>
  </head>
  <body>
    <div align= "center">
      <p class= "myFontClass"><font size="11" color="red">  Paradiso</font></p>
<!-- Hey still need to link these Hypertext Reference!! -->
      <div>
        <a href="profile2" style="text-decoration: none"title="About">About |</a>

<!-- Drop down -->
        <div class="dropdown">
        <a onclick="myFunction()" class="dropbtn">Recommendation by Genre |</a>
          <div id="myDropdown" class="dropdown-content">
            <a href="#Comedy">Comedy</a>
            <a href="#Drama">Drama</a>
            <a href="#Family">Family</a>
            <a href="#Horror">Horror</a>
            <a href="#Action">Action</a>
          </div>
        </div>

        <a href="profile2" style="text-decoration: none"title="Random">Random</a>
      </div>
    </div>
  </body>
</html>
