<!DOCTYPE html>
<html>
  <head>
    <title> Random </title>
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Fjalla+One">
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="static/generalparadiso.css"/>
    <link rel="stylesheet" href="static/paradisomain.css"/>
  </head>
  <body>
    <p>{{title}}</p>
    <p>{{dates}}</p>
    <p>{{popularity}}</p>
    <p>{{rating}}</p>
    <p>{{plot}}</p>
    <a href="/random" id = "random"></a>
    <FORM>
    <Input Class="RefreshButton" Type= "button"onclick="window.location.reload()"Value="Refresh">
    </FORM>
  </body>
</html>
