<!DOCTYPE html>
<html>
  <head>
    <title>Paradiso - Random </title>
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Fjalla+One">
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="static/generalparadiso.css"/>
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class = "absolute">
      <a class = "homebutton" href="/" style="text-decoration: none">PARADISO</a>
    </div>
    <div class = "body">
    <h1 class = "heading" align=center>RANDOM</h1>
    <div class = "bodyTextBox">
      <img class = "moviePoster" src={{poster}} alt="Movie Poster" width = "250px">
      <p class = "movieTitle">{{title}}</p>
      <p>
        Release Date: {{dates}}
        <br> Popularity: {{popularity}}
        <br> Rating: {{rating}}
      </p>
      <p>{{plot}}</p>
    </div>
    <a href="/random" id = "random"></a>
    <FORM>
    <Input Class="RefreshButton" Type= "button"onclick="window.location.reload()"Value="Refresh">
    </FORM>
  </div>
  </body>
</html>
